/* :root {
    --primary: rgb(252, 233, 135);
    --secondary: rgb(235, 99, 26);
    --tertiary: rgb(125, 0, 0);
    --dark-bg: rgb(241, 241, 241);
    --light-bg: white;
} */


:root {
    /* variables go here */
    --primary: #7286D3;
    --secondary: #586ab1;
    --tertiary: #3f4c81;
    --dark-bg: #8EA7E9;
    --light-bg: white;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* sidebar */

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar {
    background-color: var(--secondary);
    font-weight: bold;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* sticks this sidebar in place when scrolling */
    position: sticky;
    top: 0;
    text-align: center;
}

.sidebar img {
    width: 70%;
    /*margin-left: 25px; */
    margin-top: 10px;
}

.sidebar h2 {
    border-bottom: 3px dotted black;
    padding-bottom: 25px;
}

.sidebar ul, .sidebar h2 {
    padding: 20px;
}

li {
    padding: 6px 10px;
    border-radius: 30px;
    background-color: var(--light-bg);
    box-shadow: 3px 2px 4px -1px black;
    text-align: center;
}

li p {
    text-align: left;
    font-weight: normal;
    font-size: 12px;
    margin: 3px;
}

li button {
    margin: 6px 3px 3px 3px;
    font-size: 11px;
    padding: 4px 13px;
}

/* header */

header {
    padding: 15px 30px;
    background-color: var(--dark-bg);
    box-shadow: 2px 2px 4px -1px var(--dark-bg);
    display: flex;
    justify-content: flex-end;
}

header a {
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

header a:hover {
    color: #19335e;
    cursor: pointer;
}

header a:active {
    color: var(--tertiary);
}

/* form */

form {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

form > section {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1.5fr;
    gap: 20px;
}

form > section > input:nth-last-child(-n + 6) {
    grid-column: span 3;
}

form > section > input, form > section > select {
    border-radius: 15px;
    height: 30px;
    padding: 0px 10px;
}

form > section > input {
    border: 1px solid black;
}

form > section > label {
    display: flex;
    align-items: center;
}

form h2 {
    padding-bottom: 20px;
}

form button {
    margin: 0 auto;
    text-align: center;
}

/* main */

.cards {
    margin: 30px 40px;
    /* display: none; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 40px;
    grid-auto-rows: min-content;
}

.card {
    position: relative;
    /* border: 2px solid black; */
    text-align: center;
    box-shadow: 2px 2px 4px -1px black;
    background-color: var(--primary);
    border-radius: 30px;
}

.card p {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.card img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 28px 28px 0px 0px;
}

.text, button {
    margin: 20px;
}

button {
    display: inline-block;
    border-radius: 6px;
    background-color: #19335e;
    font-weight: bold;
    color: #E5E7EB;
    border: none;
    padding: 7px 25px;
}

button:hover {
    cursor: pointer;
}