:root {
    /* variables go here */
    --primary: rgb(252, 233, 135);
    --secondary: rgb(235, 99, 26);
    --tertiary: rgb(125, 0, 0);
    --dark-bg: rgb(241, 241, 241);
    --light-bg: white;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* sidebar */

ul {
    list-style-type: none;
}

.sidebar {
    background-color: var(--primary);
    font-weight: bold;
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* sticks this sidebar in place when scrolling */
    position: sticky;
    top: 0;
}

.sidebar span.fa {
    margin-left: 8px;
    margin-right: 8px;
}

.sidebar ul a {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

a {
    text-decoration: none;
}

/* header */

header {
    padding: 15px 30px;
    background-color: var(--dark-bg);
    box-shadow: 2px 2px 4px -1px var(--dark-bg);
}

header ul {
    display: flex;
    justify-content: space-between;
}

header li {
    font-weight: bolder;
}

header li:hover {
    color: var(--secondary);
    cursor: pointer;
}

header li:active {
    color: var(--tertiary);
}

/* form */

form {
    padding: 30px;
}

form > section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

form > section > input:nth-last-child(-n + 6) {
    grid-column: span 3;
}

form > section > input {
    border-radius: 15px;
    height: 30px;
}

form > section > label {
    display: flex;
    align-items: center;
}

/* main */

.cards {
    margin: 30px 40px;
    /* display: none; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.card {
    position: relative;
    /* border: 2px solid black; */
    text-align: center;
    box-shadow: 2px 2px 4px -1px black;
    background-color: var(--primary);
    border-radius: 30px;
}

.card p {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card span.fa {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 28px 28px 0px 0px;
}

.hidden {
    display: none;  /* will turn on or off whenever the button is pressed */
}

.text, button {
    margin: 20px;
}